.info-card {
  margin-top: 100px;
  width: 1050px;
  display: grid;
  grid-template-columns: 300px 750px;
}

.image {
  background-color: black;
  object-fit: contain;
  height: 300px;
  width: 300px;
}

.information {
  position: relative;
  margin-left: 20px;
}

.title {
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.data {
  color: white;
  padding: 10px;
}

.fill-card {
  width: 1050px;
}

.strong {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.description {
  color: white;
  font-size: 18px;
  line-height: 25px;
}

.genre-box {
  border: 1px solid white;
  color: white;
  display: inline-block;
  padding: 10px 15px 10px 15px;
  margin-right: 7px;
  margin-bottom: 7px;
}

.star-unchecked {
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 12px;
  color: white;
  font-size: 30px;
}

.star-checked {
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 12px;
  color: yellow;
  font-size: 30px;
}
