.gameInfo-container {
  width: 1050px;
  margin-top: 100px;
}

.info-card {
  background-color: rgb(102, 91, 255);
  border: 1px solid white;
  border-bottom: none;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.image {
  background-color: black;
  object-fit: contain;
  height: 300px;
  width: 300px;
}

.information {
  position: relative;
  margin-left: 20px;
}

.title {
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.data {
  color: white;
  padding: 10px;
}

.fill-card {
  padding: 10px 10px 10px 10px;
  background-color: rgb(102, 91, 255);
  border: 1px solid white;
  border-top: none;
}

.strong {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.description {
  color: white;
  font-size: 18px;
  line-height: 25px;
  margin: 10px 0px 10px 0px;
}

.genre-box {
  background-color: rgb(102, 91, 255);
  border: 1px solid white;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 10px 15px;
  margin: 0px 7px 7px 0px;
}

.genre-box:hover {
  background-color: rgb(73, 65, 185);
}

.star-container {
  position: absolute;
  top: 10px;
  right: 15px;
}

.favorite-count {
  color: yellow;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
}
.star-unchecked {
  cursor: pointer;
  color: white;
  display: inline-block;
  font-size: 30px;
}

.star-checked {
  cursor: pointer;
  color: yellow;
  display: inline-block;
  font-size: 30px;
}
